@charset 'UTF-8';
/*-------------------------------*\
   Content
*\-------------------------------*/
/*
*Comtent ............ you are reading now
*Globei ............. Set common styles
*Layout ............. Set grid
*Component ............. Set component styles
*/

/*-------------------------------*\
   Globei
*\-------------------------------*/
*{
    box-sizing: border-box;
    position: relative;
}
a{
    text-decoration: none;
    font-family: '微軟正黑體','SongtiSC'
    color:#000;
}
html,body{
    height: 100%;
}
h1,h2,h3,h4,p{
    margin: 0;
}
ul{
    margin: 0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
    color:#000;
}

/*-------------------------------*\
   Layout
*\-------------------------------*/
.container{
    width: 1322px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #333;
}
.roW{
    border: 1px solid rgb(247, 13, 13);
}

.row::after{
    content:'';
    display: block;
    clear: both;
}
.col-1-2,.col-1-3,.col-1-4,.col-1-6{
    float: left;
}
.col-1-2{
    width: 50%;
}
.col-1-3{
    width: 33.3333%;
}
.col-1-4{
    height: 323px;
    width: 25%;
}
.col-1-5{
    width: 20%;
}
.col-1-6{
    width: 16.66666%;
}
/*-------------------------------*\
   Component
*\-------------------------------*/

/* navbar */
.navbar{
    height: 100px;
    padding-top: 17px;
}

.navbar{
    text-align: center;
}

.navbar .brand{
    display: inline-block;
    vertical-align: top;
    width: 193px;
    height: 24px;
    background-image:url(./navbar/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* 隱藏H1 */
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}
.navbar .left-container{
    display: flex;
    position: absolute;
    left: 24pt;
    top: 25px;
    width: 188px;
    justify-content:space-between
}

.navbar .left-container .search{
    display: inline-block;
    vertical-align: top;
    height: 16px;
    width: 15.6px;
    background-image: url(./navbar/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar .left-container .address{
    display: inline-block;
    vertical-align: top;
    height: 16px;
    width: 12px;
    background-image: url(./navbar/address.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar .left-container .service{
    display: inline-block;
    vertical-align: top;
    height: 16px;
    width: 74px;
    background-image: url(./navbar/service.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.nav .left-container h1{
    font-size: 12pX;
    text-align: right;   
}

.navbar .right-container{
    display: flex;
    position: absolute;
    right: 26pt;
    top: 25px;
    width: 131px;
    margin-left: 24px;
    justify-content:space-between
}
.navbar .right-container .mamber{
    display: inline-block;
    vertical-align: top;
    height: 16px;
    width: 74px;
    background-image: url(./navbar/member.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.navbar .right-container h1 {
    font-size: 12pX;
    text-align: right;  
}

.navbar .right-container  .keep{
    display: inline-block;
    vertical-align: top;
    height: 16px;
    width: 14px;
    background-image: url(./navbar/keep.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar .nav{
    text-align: center;
    line-height:21px ;
    margin-top: 20px;
}
.navbar .nav .nav-item{
    display: inline-block;
    line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    padding-right: 57px;
}
.navbar .nav .nav-link{
    display: block;
    color: black;
    line-height: 21px;;
    transition: color 0.3s;
}

.navbar .nav .nav-link:hover{
    color: #94d6d0
}

/* jumbotorn */

.jumbotron{
    height: 504.4px;
    background-image: url(./img/banner/banner.png);
    background-size: cover;
}
.jumbotron .jumbotron-container{
    height: 220px;
    width: 344px;
    position: absolute;
    left: 71px;
    top: 98px;
    text-align: left;
}
.jumbotron h1{
    font-size: 40px;
    margin-bottom: 11px;
    line-height: 47.6px;
}
.jumbotron h2{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 21px;
    margin-bottom: 31px;
}
.jumbotron a{
    padding: 10px 26px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    border: 2px solid #000;
    transition: color  #94d6d0;
    transition-duration: 1s;
}
.jumbotron a:hover{
   background-color: #94d6d0
}

/* producting */

.producting{
    padding-top: 98px;
    text-align: center;
}

.producting .title{
    text-align: center;
    font-size: 33px;
    margin-bottom: 27px;
}
.producting .row{
    display: inline-block;
    text-align: center;
    padding-bottom: 115px;
}

.producting .image{
    display: block;
    margin: auto;
    height: 100%;
    width: 323px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 5px;
}

.producting .image a{
    position: absolute;
    top: 282px;
    left: 285px;
    background-image: url(./navbar/keep@2x.png);
    padding:14px 8.5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.producting .btn{
    display: inline-block;
    padding: 10px 26px;
    border: 2px solid #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.producting hr{
    margin-top: 68px;
}


/* news */

.news{
    text-align: center;
    padding-top: 64px;
    padding-bottom: 34px;
}

.news .row{
    display: inline-block;
    text-align: center;
}
.news .news-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.news .news-item{
    width: 419px;
    height: 419px;
    margin: 0 12.5px;
}

.news .img-container{
    width: 419px;
    height: 419px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.news .preview{
    top: 233px;
    text-align: center;
}

.news .preview h4{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.news .preview .para{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 40px;
    margin-top: 11px;
}

.news hr{
    margin-top: 46px;
}

/* story */

.story{
    text-align: center;
    height: 846px;
    margin-bottom: 13px;
}
.story .title{
    font-size: 33px;
    margin-bottom: 27px;
}
.story .row{
    display: inline-block;
    text-align: center;
}
.story-itim{
    width: 517px;
    height: 646px;
    margin: 0px 56px ;
}
.story .img-container{
    width: 517px;
    height: 646px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.story .para{
    margin-top: 21PX;
}

.story .story-itim .story-title{
    margin-bottom: 14PX;
    font-size: 33px;
}

.story .story-itim a{
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


/* category */

.category {
    text-align: center;
    height: 424px;
}

.category .title{
    font-size: 33px;
    margin-bottom: 11px;
    margin-top: 20px;
}

.category .para{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 33px;
}

.category .row{
    display: inline-block;
    text-align: center;
}

.category .img-container{
    height: 207px;
    width: 207px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.category .card{
    width: 207px;
    margin: 0 9px;
}
.category .card .item{
    padding-top: 20px;
    font-size: 14px;
    font-weight: bold;
}
/* banner */

.banner{
    height: 504.4px;
    background-image: url(./img/banner/banner_2.png);
    background-size: cover;
    margin-bottom: 120px;
}

.banner .para{
    position: absolute;
    top: 193px;
    left: 117px;
}
.banner h1{
    font-size: 33px;
    margin-bottom: 14px;
}
.banner h3{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
.banner a{
    font-weight: bold;
}

/* expeaience */

.experience{
    height: 524px;
    background-color: #fafafa;
    margin-top: 120px;
    text-align: center;
}
.experience .title{
    font-size: 33px;
    margin-bottom: 27px;
    padding-top: 20px;
}
}
.experience .roW{
    display: inline-block;
    text-align: center;
}

.experience .item{
    display: inline-block;
    text-align: center;
    margin:82px 89px;
}

.experience .img-container{
    display: inline-block;
    height:56px ;
    width: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.experience h3{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
}
 .experience h4{
     font-size: 15px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-top: 12px;
     margin-bottom: 20px;
 }

 .experience hr{
     margin-top: 12px;
 }

 /* footer */

.footer{
    text-align: center;
    height: 356px;
}
.footer .title{
    margin: 0 18px;
    border-bottom:8px solid #94d6d0;
}
.footer .list{
    text-align: left;
}
.footer h1{
    font-size: 14px;
    line-height: 40px;
 } 
 .footer .row{
    display: inline-block;
     width: 100%;
     align-content: flex-start
 }
.footer .col-3-4{
    float: left;
    width: 75%;
}
.footer .col-1-4{
    float: right;
}

.footer ul{
    margin-left: 40px;
    float: left;
    width: 200px;
}
.footer .list h3{
    font-size: 14px;
    padding-bottom: 26px;
    padding-top: 33px;
}
.footer li{
    font-size: 12px;
    height: 30px;
}

.footer .email-1{
    display: inline-block;
    text-align: left;
    font-size: 14px;
    width: 279px;
    border-bottom:1px solid #000;
    padding-top: 40px;
}

.footer .col-1-4 .btn{
    position: relative;
    top: 37px;
    text-align: left;
    padding: 7px 54px;
    border: 1px solid #000;
    
}
.copyright{
    text-align: center;
    bottom: 30px;
}
.copyright .location{
    float: left;
    left: 69px;
}
.copyright h4{
    text-align: center;
}
.copyright .link .img{
    float: right;
    height:16px ;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 30px;
    right: 69px;
    bottom: 30px;
}